// _mixins.scss


@mixin setFlex($justify : flex-start, $direction : row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin shadow($value : $box-shadow-normal ) {
  box-shadow: $value;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@mixin text-elipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}